@import "tailwindcss";

.blinking-cursor {
  animation: blink 0.75s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: oklch(96.2% 0.059 95.617); /* amber-100 */
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 10px;
}


